## Flight fare prediction (EDA + Feature Engineering)

In [2]:
# importing basic libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
#import dataset
df_train = pd.read_excel('https://github.com/Ritesh5444/Dataset-for-EDA-and-FE/raw/refs/heads/main/Flight_fare_prediction/Data_Train.xlsx')

In [4]:
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
df_train.shape

(10683, 11)

In [6]:
df_test = pd.read_excel('https://github.com/Ritesh5444/Dataset-for-EDA-and-FE/raw/refs/heads/main/Flight_fare_prediction/Test_set.xlsx')

In [7]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [8]:
df_test.shape

(2671, 10)

In [9]:
final_df = pd.concat([df_train,df_test])

In [10]:
final_df.shape

(13354, 11)

In [11]:
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [12]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [13]:
#Feature engineering process

In [14]:
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]

# Other way of extracting the date, month and year from Date of Journey but we were not able to get date

In [16]:
#final_df['Date_of_Journey']

In [17]:
#final_df['Date_of_Journey'] = pd.to_datetime(final_df['Date_of_Journey'])

In [18]:
#final_df['Date_of_Journey'].dtype

In [19]:
#final_df['Date_of_Journey']

In [20]:
#final_df['Date'] = final_df['Date_of_Journey'].dt.date

In [21]:
#final_df['Date']

In [22]:
#final_df['Month'] = final_df['Date_of_Journey'].dt.month

In [23]:
#final_df['Month']

In [24]:
#final_df['Year'] = final_df['Date_of_Journey'].dt.year

In [25]:
#final_df['Year']

In [26]:
#final_df['Date'] = str(final_df['Date'])

In [27]:
#final_df['Date'].str.split('-').str[1]

# End of Other way of extracting the date, month and year from Date of Journey but we were not able to get date

In [29]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.5+ MB

In [30]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [31]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.5+ MB

In [32]:
#Convert data type

final_df['Date'] = final_df['Date'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)

In [33]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [34]:
#Droping date of journey

final_df.drop('Date_of_Journey', axis = 1, inplace = True)

In [35]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [36]:
#Removing Date from Arrival_Time

In [37]:
final_df['test'] = final_df['Arrival_Time'].str.split(' ').str[0]

In [38]:
final_df['test']

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: test, Length: 13354, dtype: object

In [39]:
final_df['Arrival_Time'] = final_df['Arrival_Time'].str.split(' ').str[0]

In [40]:
final_df['Arrival_Time']

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [41]:
final_df.drop('test', axis = 1, inplace= True)

In [42]:
final_df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019

In [43]:
#Creating seperate columns for Arrival hours and Arrival minutes

In [44]:
final_df['Arrival_Hours'] = final_df['Arrival_Time'].str.split(':').str[0]

In [45]:
final_df['Arrival_Hours']

0       01
1       13
2       04
3       23
4       21
        ..
2666    20
2667    16
2668    04
2669    19
2670    19
Name: Arrival_Hours, Length: 13354, dtype: object

In [46]:
final_df['Arrival_Minute'] = final_df['Arrival_Time'].str.split(':').str[1]

In [47]:
final_df['Arrival_Minute']

0       10
1       15
2       25
3       30
4       35
        ..
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arrival_Minute, Length: 13354, dtype: object

In [48]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

In [49]:
#Changing data types of Arrival_Hour and Arrival_Minute to INT

In [50]:
final_df['Arrival_Hours'] = final_df['Arrival_Hours'].astype(int)
final_df['Arrival_Minute'] = final_df['Arrival_Minute'].astype(int)

In [51]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_Hours    13354 non-null  int32
 14  Arrival_Minute   13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [52]:
#final_df.drop('Arrival_Minutes', axis = 1, inplace = True)

In [53]:
#final_df.drop('Arrival_Time', axis = 1, inplace = True)

In [54]:
#checking NULL values

final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hours         0
Arrival_Minute        0
dtype: int64

In [55]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

In [56]:
# #Creating seperate columns for Departure hours and Departure minutes

In [57]:
final_df['Departure_Hours'] = final_df['Dep_Time'].str.split(':').str[0]

In [58]:
final_df['Departure_Hours']

0       22
1       05
2       09
3       18
4       16
        ..
2666    20
2667    14
2668    21
2669    04
2670    04
Name: Departure_Hours, Length: 13354, dtype: object

In [59]:
final_df['Departure_Minute'] = final_df['Dep_Time'].str.split(':').str[1]

In [60]:
final_df['Departure_Minute']

0       20
1       50
2       25
3       05
4       50
        ..
2666    30
2667    20
2668    50
2669    00
2670    55
Name: Departure_Minute, Length: 13354, dtype: object

In [61]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,05,50

In [62]:
final_df.drop('Dep_Time', axis = 1, inplace = True)

In [63]:
final_df['Departure_Hours'] = final_df['Departure_Hours'].astype(int)
final_df['Departure_Minute'] = final_df['Departure_Minute'].astype(int)

In [64]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  object
 1   Source            13354 non-null  object
 2   Destination       13354 non-null  object
 3   Route             13353 non-null  object
 4   Arrival_Time      13354 non-null  object
 5   Duration          13354 non-null  object
 6   Total_Stops       13353 non-null  object
 7   Additional_Info   13354 non-null  object
 8   Price             10683 non-null  float64
 9   Date              13354 non-null  int32
 10  Month             13354 non-null  int32
 11  Year              13354 non-null  int32
 12  Arrival_Hours     13354 non-null  int32
 13  Arrival_Minute    13354 non-null  int32
 14  Departure_Hours   13354 non-null  int32
 15  Departure_Minute  13354 non-null  int32
dtypes: float64(1), int32(7), object(8)
memory usage: 1.4+ MB

In [65]:
final_df.head(2)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50

In [66]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [67]:
final_df['Total_Stops'].isnull().sum()

1

In [157]:
final_df['Total_Stops'] = final_df['Total_Stops'].map({'non-stop': 0,'1 stop': 1,'2 stops': 2,'3 stops': 3,'4 stops': 4 })

In [159]:
final_df.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [70]:
#Handling the NULL value in Total Stops

#Since it is a categorical value, we will use mode

In [163]:
final_df['Total_Stops'].mode()

0    1.0
Name: Total_Stops, dtype: float64

In [165]:
final_df['Total_Stops'] = final_df['Total_Stops'].fillna(1)

In [169]:
final_df['Total_Stops'].isnull().sum()

0

In [ ]:
#Dropping Route column

In [171]:
final_df.drop('Route', axis = 1, inplace = True)

In [173]:
final_df.head(2)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute
0,IndiGo,Banglore,New Delhi,01:10,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,13:15,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50

In [175]:
#Dropping Arrival_Time column
final_df.drop('Arrival_Time', axis = 1, inplace = True)

In [215]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute,Duration_Hours
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,5m
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,5m
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,5m
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5m
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,5m

In [179]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
#Converting Duration to minutes

In [217]:
final_df['Duration_Hours'] = final_df['Duration'].str.split('h').str[0]

In [219]:
final_df['Duration_Hours']

0        2
1        7
2       19
3        5
4        4
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: Duration_Hours, Length: 13354, dtype: object

In [221]:
final_df['Duration_Hours'] = final_df['Duration_Hours'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [227]:
final_df[final_df['Duration_Hours'] == '5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute,Duration_Hours
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [229]:
#It can be seen that duration cannot be 5m for flight duration, so we will drop these two records

final_df.drop(6474, axis = 0, inplace = True)
final_df.drop(2660, axis = 0, inplace = True)

In [231]:
final_df[final_df['Duration_Hours'] == '5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hours, Arrival_Minute, Departure_Hours, Departure_Minute, Duration_Hours]
Index: []

In [233]:
# COnverting the date type again

final_df['Duration_Hours'] = final_df['Duration_Hours'].astype(int)

In [235]:
final_df['Duration'].head(2)

0    2h 50m
1    7h 25m
Name: Duration, dtype: object

In [249]:
final_df['Duration_Min'] =final_df['Duration'].str.split(' ').str[1]

In [255]:
final_df['Duration_Min'] = final_df['Duration_Min'].str.split('m').str[0]

In [257]:
final_df['Duration_Min']

0        50
1        25
2       NaN
3        25
4        45
       ...
2666     55
2667     35
2668     35
2669     15
2670     20
Name: Duration_Min, Length: 13351, dtype: object

In [259]:
final_df['Duration_Min'].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
#Handling NaN values in final_df['Duration_Min']

In [261]:
#final_df.fillna(0)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute,Duration_Hours,Duration_Min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,0.0,6,6,2019,20,25,20,30,23,55
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,0.0,27,3,2019,16,55,14,20,2,35
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,0.0,6,3,2019,4,25,21,50,6,35
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,0.0,6,3,2019,19,15,4,0,15,15
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,0.0,15,6,2019,19,15,4,55,14,20

In [267]:
#final_df.isnull().sum()

Airline                0
Source                 0
Destination            0
Duration               0
Total_Stops            0
Additional_Info        0
Price               2670
Date                   0
Month                  0
Year                   0
Arrival_Hours          0
Arrival_Minute         0
Departure_Hours        0
Departure_Minute       0
Duration_Hours         0
Duration_Min        1283
dtype: int64

In [287]:
final_df['Duration_Min'].fillna(0)

0       50
1       25
2        0
3       25
4       45
        ..
2666    55
2667    35
2668    35
2669    15
2670    20
Name: Duration_Min, Length: 13351, dtype: object

In [289]:
final_df['Duration_Min'].astype(int)

ValueError: cannot convert float NaN to integer

In [291]:
final_df[final_df['Duration_Min'] == 'NaN']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hours, Arrival_Minute, Departure_Hours, Departure_Minute, Duration_Hours, Duration_Min]
Index: []

In [ ]:
#Try to convert the min to int column

In [293]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [295]:
#Label Encoding to handle categorical values

from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()

In [313]:
final_df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute,Duration_Hours,Duration_Min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19,NaN

In [315]:
final_df['Airline'] = LabelEncoder.fit_transform(final_df['Airline'])
final_df['Source'] = LabelEncoder.fit_transform(final_df['Source'])
final_df['Destination'] = LabelEncoder.fit_transform(final_df['Destination'])
final_df['Additional_Info'] = LabelEncoder.fit_transform(final_df['Additional_Info'])

In [317]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Minute,Departure_Hours,Departure_Minute,Duration_Hours,Duration_Min
0,3,0,5,2h 50m,0.0,8,3897.0,24,3,2019,1,10,22,20,2,50
1,1,3,0,7h 25m,2.0,8,7662.0,1,5,2019,13,15,5,50,7,25
2,4,2,1,19h,2.0,8,13882.0,9,6,2019,4,25,9,25,19,NaN
3,3,3,0,5h 25m,1.0,8,6218.0,12,5,2019,23,30,18,5,5,25
4,3,0,5,4h 45m,1.0,8,13302.0,1,3,2019,21,35,16,50,4,45